.banner {
  background: url('../imagens/banner.jpeg') 27% center no-repeat;
  min-height: 350px;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: .9;

  .inner-banner {
    padding: 3rem;
    background-color: $cor-terciaria;
    opacity: .7;
    border-radius: 45px;

    text-align: center;

    h1 {
      font-size: $tamanho-do-texto;
      color: $cor-primaria;
      margin-bottom: calc($espacamento-base / 2);
    }

    h2 {
      font-size: calc($tamanho-do-texto/2);
      color: $cor-secundaria;
    }

    @media screen and (max-width: 440px){
      & {
        border-radius: 0;
        width: 100%;
      }
    }
  } 
}